{% extends "base.html" %}
{% load  static %}
{% block header-css %}
    <style type="text/css">


        div#rMenu {
            position: absolute;
            visibility: hidden;
            text-align: left;
            top: 100%;
            left: 0;
            z-index: 1000;
            float: left;
            padding: 5px 0;
            margin: 2px 0 0;
            list-style: none;
            background-clip: padding-box;
        }

        div#rMenu li {
            margin: 1px 0;
            cursor: pointer;
        {#list-style: none outside none;#}
        }

        .dropdown a:hover {
            background-color: #f1f1f1
        }
    </style>

{% endblock %}

{% block  title %}工作日志{% endblock %}



{% block page-content %}
    <div class="row wrapper border-bottom white-bg page-heading ">
        <div class="col-lg-10">
            <h2>工作日志</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="{% url "index" %}">主页</a>
                </li>
                <li>
                    <a href="#">工作管理</a>
                </li>
                <li class="active">
                    <strong>工作日志</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2" id="split-left">
        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-11" id="split-right"     style="width: 100%" >

                <div class="ibox float-e-margins">

                    <div class="ibox-title">
                        <h5>工作日志</h5>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">

                            <div  class="form-horizontal ">
                            <form id="cha" class="form-horizontal " action="{% url 'order:order_list' %}" method="GET">
                                {% csrf_token %}
                                <div class="col-md-2 ">
                                    <input type="text" class="form-control" name="name" placeholder="关键字" >
                                </div>

                                <div class="col-md-2 ">
                                    <select name="status" class="form-control"  >
  <option value="">请选择</option>

  <option value="待处理">待处理</option>

  <option value="已完成">已完成</option>

</select>

                                </div>
{#                                <div class="col-md-2 ">#}
{#                                    <input type="date" class="form-control" name="stime" >#}
{#                                </div>#}
{#                                <div class="col-md-2 ">#}
{#                                    <input type="date" class="form-control" name="etime" >#}
{#                                </div>#}



<div class="col-md-4">
<div class="input-group input-inline-sm col-sm-12" >
<span class="input-group-addon">时间段</span>
<input id='starttiem' type="date" class="form-control" name="stime" >
<span class="input-group-addon">至</span>
<input id='endtime' type="date" class="form-control"  name="etime"></div></div>




<button class="btn btn-sm btn-primary"  type="button" onclick="showTime()">查询</button>
                                <a href="{% url  'order:order_add' %}" class=" btn btn-sm btn-primary ">
                                    新建</a>

                            </form>
                            <div>&nbsp;</div>



                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th style="text-align:center" width="8%"  >新建时间</th>
                                        <th style="text-align:center" width="10%" >事件名称</th>
                                        <th style="text-align:center" width="50%" >事件描述</th>
                                        <th style="text-align:center" width="5%"  >处理人</th>
                                        <th style="text-align:center" width="7%"  >计划完成时间</th>
                                        <th style="text-align:center" width="5%"  >状态</th>
                                        <th style="text-align:center" width="5%"  >进度</th>
                                        <th style="text-align:center" width="%5" >操作</th>


                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for   row   in   order_list %}

                                        <tr class="gradeA">
                                            <td style="text-align:center">{{ row.event_starttime }}</td>
                                            <td style="text-align:center">{{ row.event_name }}</td>
                                            <td style="text-align:center">{{ row.event_ps }}</td>
                                            <td style="text-align:center">{{ row.person }}</td>
                                            <td style="text-align:center">{{ row.event_endtime }}</td>
                                            <td style="text-align:center">{{ row.event_status}}</td>
                                            <td style="text-align:center">{{ row.event_progress}}</td>
                                            <td style="text-align:center"> <a class="btn btn-warning  btn-xs "href="{% url "order:order_updata" row.id %}">编辑</a>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>

                                <div>


                                    <ul class="pagination ">
                                        <li><a href="{% url "order:order_list" %}?page=1">首页 </a></li>
                                        {% if  page_obj.has_previous %}
                                            <li>
                                                <a href="{% url "order:order_list" %}?page={{ page_obj.previous_page_number }}&{{ search_data }}">
                                                    上一页 </a></li>
                                        {% else %}
                                            <li class="disabled"><a> 上一页 </a></li>
                                        {% endif %}


                                            {% if  search_data %}  <!-- 判断是否是搜索分页-->
                                                {#                                                {% if p == page_obj.number %}#}
                                                {#                                                    <li class="active"><a#}
                                                {#                                                            href="{% url "order:order_list" %}?page={{ p }}&{{ search_data }}"> {{ p }} </a>#}
                                                {#                                                    </li>#}
                                                {#                                                {% else %}#}
                                                {#                                                    <li>#}
                                                {#                                                        <a href="{% url "order:order_list" %}?page={{ p }}&{{ search_data }}"> {{ p }} </a>#}
                                                {#                                                    </li>#}
                                                {#                                                {% endif %}#}

                                                {% if left %}
                                                    {% if left_has_more %}
                                                        <li><span>...</span></li>
                                                    {% endif %}
                                                    {% for i in left %}
                                                        <li>
                                                            <a href="{% url "order:order_list" %}?page={{ i }}&{{ search_data }}">{{ i }}</a>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                                <li>
                                                    <a href="{% url "order:order_list" %}?page={{ page_obj.number }}&{{ search_data }}"
                                                       style="color: red">{{ page_obj.number }}</a>
                                                </li>

                                                {% if right %}
                                                    {% for i in right %}
                                                        <li>
                                                            <a href="{% url "order:order_list" %}?page={{ i }}&{{ search_data }}">{{ i }}</a>
                                                        </li>
                                                    {% endfor %}
                                                    {% if right_has_more %}
                                                        <li><span>...</span></li>
                                                    {% endif %}
                                                {% endif %}


                                            {% else %}
                                                {#                                                {% if p == page_obj.number %}#}
                                                {#                                                    <li class="active"><a#}
                                                {#                                                            href="{% url "order:order_list" %}?page={{ p }}"> {{ p }} </a>#}
                                                {#                                                    </li>#}
                                                {#                                                {% else %}#}
                                                {#                                                    <li>#}
                                                {#                                                        <a href="{% url "order:order_list" %}?page={{ p }}"> {{ p }} </a>#}
                                                {#                                                    </li>#}
                                                {#                                                {% endif %}#}

                                                {% if left %}
                                                    {% if left_has_more %}
                                                        <li><span>...</span></li>
                                                    {% endif %}
                                                    {% for i in left %}
                                                        <li>
                                                            <a href="{% url "order:order_list" %}?page={{ i }}">{{ i }}</a>
                                                        </li>
                                                    {% endfor %}
                                                {% endif %}
                                                <li>
                                                    <a href="{% url "order:order_list" %}?page={{ page_obj.number }}"
                                                       style="color: red">{{ page_obj.number }}</a>
                                                </li>

                                                {% if right %}
                                                    {% for i in right %}
                                                        <li>
                                                            <a href="{% url "order:order_list" %}?page={{ i }}">{{ i }}</a>
                                                        </li>
                                                    {% endfor %}
                                                    {% if right_has_more %}
                                                        <li><span>...</span></li>
                                                    {% endif %}
                                                {% endif %}
                                            {% endif %}



                                        {% if  page_obj.has_next %}
                                            <li>
                                                <a href="{% url "order:order_list" %}?page={{ page_obj.next_page_number }}&{{ search_data }}">
                                                    下一页 </a></li>
                                        {% endif %}
                                        <li>
                                            <a href="{% url "order:order_list" %}?page={{ page_obj.paginator.num_pages }}&{{ search_data }}">尾页 </a>
                                        </li>
                                        <li><span
                                                style="color: #0a0a0a">总: &nbsp;{{ page_obj.paginator.num_pages }} 页 </span>
                                        </li>

                                    </ul>
                                    </center>
                                </div> <!--页码 -->


                            </div>


                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>





    {% block footer-js %}
        
        <script src="{% static 'js/jquery.form.min.js' %}"></script>

        <script type="text/javascript">
        function showTime(){
        var beginDate=$("#starttiem").val();
        var endDate=$("#endtime").val();
        var d1 = new Date(beginDate.replace(/\-/g, "\/"));
        var d2 = new Date(endDate.replace(/\-/g, "\/"));


          if(beginDate!=""&&endDate!=""&&d1 >=d2)
            {
                alert("开始时间不能大于结束时间！");
                return false;
        }
            document.getElementById("cha").submit();
        }
        </script>

    {% endblock %}

    {% block footer-js-ajax %}
    {% endblock %}

{% endblock %}