{% extends "base.html" %}
{% block  title %}资产详情{% endblock %}
{% block header-css %}

{% load bootstrap3 %}
{% endblock %}


{% block  page-content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产详情</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                    <a href="cmdb.html">资产管理</a>
                </li>
                <li class="active">
                    <strong>资产详情</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12" >
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="text-center"><i class="fa fa-laptop"></i>资产详情</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url "assets:assets_update" nid %}"><i
                                        class="fa fa-edit"></i>编辑</a>

                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-info" href="{% url 'tb_log:tb_log_list'  %}?name={{ nid }}">
                                    <i class="fa fa-edit"></i>生命周期
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0;width: 100%; " >
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ detail.hostname }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td style=" border-top: none !important;" width="20%">资产编号</td>
                                            <td style=" border-top: none !important;"><b>{{ detail.uid }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">设备编号:</td>
                                            <td><b>{{ detail.pid }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">sn号:</td>
                                            <td><b>{{ detail.sn }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">设备类型:</td>
                                            <td><b>{{ detail.utype }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">设备型号:</td>
                                            <td><b>{{ detail.usize }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">处理器:</td>
                                            <td><b>{{ detail.cpu }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">内存:</td>
                                            <td><b>{{ detail.mem }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">硬盘:</td>
                                            <td><b>{{ detail.disk }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">入库时间:</td>
                                            <td><b>{{ detail.ctime }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">状态:</td>
                                            <td><b>{{ detail.active }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">使用人:</td>
                                            <td><b>{{ detail.user }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">部门:</td>
                                            <td><b>{{ detail.upart }}</b>
                                            </td>
                                        </tr>


                                        <tr>
                                            <td width="20%">存放地点:</td>
                                            <td><b>{{ detail.addr }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">领用时间:</td>
                                            <td><b>{{ detail.otime }}</b></td>

                                        </tr>
                                        <tr>
                                            <td width="20%">归还时间:</td>
                                            <td><b>{{ detail.gtime }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">有线mac:</td>
                                            <td><b>{{ detail.nmac }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">无线mac:</td>
                                            <td><b>{{ detail.wmac }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">备注:</td>
                                            <td><b>{{ detail.ps }}</b></td>
                                        </tr>

{#                                        <tr>#}
{#                                            <td width="20%">下架时间:</td>#}
{#                                            <td><b>{{ detail.otime }}</b></td>#}
{#                                        </tr>#}
{##}
{##}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">负责人:</td>#}
{#                                            <td><b>{{ detail.manager }}</b></td>#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">使用人:</td>#}
{#                                            <td><b>{{ detail.use }}</b></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td width="20%">项目:</td>#}
{#                                            <td><b>{{ detail.project }}</b></td>#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">申请时间:</td>#}
{#                                            <td><b>{{ detail.ctime }}</b></td>#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">到期时间:</td>#}
{#                                            <td><b>{{ detail.utime }}</b></td>#}
{#                                        </tr>#}
{##}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">系统版本:</td>#}
{#                                            <td><b>{{ detail.system }}</b></td>#}
{#                                        </tr>#}
{##}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">CPU:</td>#}
{#                                            <td><b>{{ detail.cpu }}</b></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td width="20%">内存:</td>#}
{#                                            <td><b>{{ detail.memory }}</b></td>#}
{#                                        </tr>#}
{#                                        <tr>#}
{#                                            <td width="20%">硬盘:</td>#}
{#                                            <td><b>{{ detail.disk }}</b></td>#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">电源冗余:</td>#}
{#                                            <td><b>{{ detail.power }}</b></td>#}
{#                                        </tr>#}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">网卡:</td>#}
{#                                            <td><b>{{ detail.netinfo }}</b></td>#}
{#                                        </tr>#}
{##}
{##}
{##}
{#                                        <tr>#}
{#                                            <td width="20%">备注:</td>#}
{#                                            <td><b>{{ detail.ps }}</b></td>#}
{#                                        </tr>#}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block footer-js %}





    {% endblock %}


{% endblock %}


