{% extends "base.html" %}
{% block  title %}首页{% endblock %}

{% block header-css %}

{% endblock %}


{% block page-content %}
    <div class="col-md-3 four-grid">
        <div class="four-grid1">
            <div class="icon">
                <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            </div>
            <div class="four-text">
                <h3>User</h3>
                <h4> 266 </h4>
                <p><span class="inlinebar"><canvas width="29" height="21"
                                                   style="display: inline-block; width: 29px; height: 21px; vertical-align: top;"></canvas></span>
                </p>
            </div>
            <a href="#" data-toggle="modal" data-target="#myModal1">More Info</a>
        </div>
    </div>

{% endblock %}


{% block footer-js %}
<script>

              toastr.options = {
                                      "closeButton": true,
                                      "debug": false,
                                      "progressBar": true,
                                      "preventDuplicates": true,
                                      "positionClass": "toast-top-right",
                                      "onclick": null,
                                      "showDuration": "400",
                                      "hideDuration": "1000",
                                      "timeOut": "7000",
                                      "extendedTimeOut": "1000",
                                      "showEasing": "swing",
                                      "hideEasing": "linear",
                                      "showMethod": "fadeIn",
                                      "hideMethod": "fadeOut"
                                    };



               toastr.success("欢迎来到!", "欢迎")

</script>
{% endblock %}
