{% extends "base.html" %}
{% block  title %}资产详情{% endblock %}
{% block header-css %}

{% load bootstrap3 %}
{% endblock %}


{% block  page-content %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>资产详情</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index.html">主页</a>
                </li>
                <li>
                    <a href="cmdb.html">资产管理</a>
                </li>
                <li class="active">
                    <strong>资产详情</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12" >
                <div class="ibox float-e-margins">
                    <div class="panel-options">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a class="text-center"><i class="fa fa-laptop"></i>资产详情</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-default" href="{% url "cmdb:cmdb_update" nid %}"><i
                                        class="fa fa-edit"></i>编辑</a>
                            </li>
                            <li class="pull-right">
                                <a class="btn btn-outline btn-danger  cmdb_del">
                                    <i class="fa fa-edit"></i>删除
                                </a>
                            </li>

                        </ul>
                    </div>
                    <div class="tab-content">
                        <div class="col-sm-7" style="padding-left: 0;width: 100%; " >
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <span class="label"><b>{{ detail.hostname }}</b></span>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                            <i class="fa fa-wrench"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-user">
                                        </ul>
                                        <a class="close-link">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="ibox-content">

                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td style=" border-top: none !important;" width="20%">主机名:</td>
                                            <td style=" border-top: none !important;"><b>{{ detail.hostname }}</b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td width="20%">外网IP:</td>
                                            <td><b>{{ detail.network_ip }}</b>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="20%">内网IP:</td>
                                            <td><b>{{ detail.inner_ip }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">机器类型:</td>
                                            <td><b>{{ detail.platform }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">机器型号:</td>
                                            <td><b>{{ detail.platform_size }}</b></td>
                                        </tr>
                                       <tr>
                                            <td width="20%">机柜名:</td>
                                            <td><b>{{ detail.region }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">资产编号:</td>
                                            <td><b>{{ detail.UID }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">序列号:</td>
                                            <td><b>{{ detail.PID }}</b></td>

                                        </tr>
                                        <tr>
                                            <td width="20%">上架时间:</td>
                                            <td><b>{{ detail.gtime }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">下架时间:</td>
                                            <td><b>{{ detail.otime }}</b></td>
                                        </tr>



                                        <tr>
                                            <td width="20%">负责人:</td>
                                            <td><b>{{ detail.manager }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">使用人:</td>
                                            <td><b>{{ detail.use }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">项目:</td>
                                            <td><b>{{ detail.project }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">申请时间:</td>
                                            <td><b>{{ detail.ctime }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">到期时间:</td>
                                            <td><b>{{ detail.utime }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">系统版本:</td>
                                            <td><b>{{ detail.system }}</b></td>
                                        </tr>


                                        <tr>
                                            <td width="20%">CPU:</td>
                                            <td><b>{{ detail.cpu }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">内存:</td>
                                            <td><b>{{ detail.memory }}</b></td>
                                        </tr>
                                        <tr>
                                            <td width="20%">硬盘:</td>
                                            <td><b>{{ detail.disk }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">电源冗余:</td>
                                            <td><b>{{ detail.power }}</b></td>
                                        </tr>

                                        <tr>
                                            <td width="20%">网卡:</td>
                                            <td><b>{{ detail.netinfo }}</b></td>
                                        </tr>



                                        <tr>
                                            <td width="20%">备注:</td>
                                            <td><b>{{ detail.ps }}</b></td>
                                        </tr>


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block footer-js %}


        <script>


            $(function () {
                $('.cmdb_del').click(function () {
                    swal({

                        title: "你确定删除",
                        text: "你将无法恢复",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "确定",
                        closeOnConfirm: false
                    }, function () {
                        $.ajax({
                            url: "/cmdb/cmdb-del.html",
                            type: 'POST',
                            data: {'nid': {{  nid }}},
                            success: function (data) {

                                var obj = JSON.parse(data);
                                if (obj.status) {
                                    swal({title: "删除", text: "已成功删除", type: "success"}, function () {
                                        location.href = "{% url "cmdb:cmdb_list" %}"
                                    })
                                } else {
                                    swal("错误", "删除" + "[ " + obj.error + " ]" + "遇到错误", "error");
                                }
                            }
                        });


                    });
                });
            });


        </script>


    {% endblock %}


{% endblock %}


